html {
    min-height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("/img/bg.jpg") no-repeat;
    background-size: cover;
    background-position: right center;
    min-height: 100%;
}

form {
    padding: 20px;
    margin-top: 60px;
}

form button,
form h5 {
    margin: 20px 0;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #ff9800;
    box-shadow: none;
}

form.white,
.card {
    border-radius: 10px;
}

.card-action {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

form.white,
.card-content,
.card-action {
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        2px 2px 15px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 2px 2px 15px 0px rgba(0, 0, 0, 0);
}

.container-loader {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
